.products {
    padding: 36px 24px 77px 130px;
    background: linear-gradient(180deg, #CFA485 68.72%, rgba(199, 155, 123, 0) 100%);
    position: relative;
    z-index: 1;
    &__wrapper{
        display: flex;
        margin: 0 auto;
        max-width: 1359px;
        overflow: hidden;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__title{
        color: white;
        margin-left: 15px;
    }
    &__slider{
        display: flex;
        justify-content: center;
    }
    &__examples{
        display: grid;
        // grid-template-columns: 366px 366px;
        // column-gap: 67px;
        grid-template-columns: 50% 50%;
        column-gap: 11px;
        align-items: center;
    }
    &__item{
        width: 100%;
        a{
            width: 100%;
        }
    }
    &__img{
        width: 100%;
    }
    &__content{
        max-width: 457px;
        margin-right: 100px;
    }
    &__text{
        font-family: 'Frank Ruhl Libre';
        font-weight: 500;
        font-size: 24px;
        color: white;
        margin-top: 43px;
        margin-left: 15px;
    }
    &__dots-wrapper{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    &__dot{
        width: 17px;
        height: 17px;
        border: solid 1px black;
        border-radius: 50%;
        margin-right: 20px;
        &-active{
            background-color: #000;
        }
    }
}

.carousel{
    &-item{
        margin: 0 auto;
    }
    &-indicators{
        bottom: -97px;
        left: -100px;
        li {
            height: 17px;
            width: 17px;
            background-color: transparent;
            border-radius: 100%;
            border: 1px solid black;
        }
        .active {
            background-color: #000;
        }
    }
}